section {
   width: 100%;
   padding: 1rem;
   margin-top: 1.5rem;
   margin-left: 0rem;
}

button {
   border: none;
   padding: 14px;
   color: var(--white);
   border-radius: 6px;
   font-family: 'Poppins', sans-serif;
   font-size: .8rem;
}

.trial {
   width: 100%;
   background-color: var(--blue);
   margin-bottom: 1rem;
   box-shadow: 0px 6px 0px var(--neutral-shadow);
   padding: 20px 90px;

}

.trial span {
   font-weight: 600;
}

.submit {
   background-color: var(--green);
   font-weight: 600;
   text-transform: uppercase;
   box-shadow: 0px 3px 0px var(--green-shadow);
   margin-top: 15px;
   cursor: pointer;
}

.submit:hover {
   background-color: var(--soft-green)
}

form {
   display: flex;
   flex-direction: column;
   background-color: var(--white);
   border-radius: 6px;
   padding: 15px 30px 30px 30px;
   box-shadow: 0px 5.5px 0px var(--neutral-shadow);
}

.input-container {
   position: relative;
   border: 1px solid var(--light-gray);
   margin: 15px 0 0 0;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
}

.input-container:focus-within {
   outline: var(--blue) auto 1px
}

.input:focus-visible {
   outline: none
}
 
.input-container > img {
   position: absolute;
   top: 12px;
   right: 18px;
   width: 18px;
   height: auto;
}
 
.input {
   padding: 13px 20px;
   width: 82%;
   border-radius: 5px;
   border: none;
   font-family: 'Poppins', sans-serif;
   font-size: .8rem;
   font-weight: 600;
   color: var(--dark-gray);
   background-color: transparent;
}

input:-webkit-autofill {
   -webkit-box-shadow:0 0 0 50px white inset;
   -webkit-text-fill-color: var(--dark-gray);
}

input:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0 50px white inset;
   -webkit-text-fill-color: var(--dark-gray);
} 


.border-red {
   border: 1px solid var(--soft-red);
}

.error {
   color: var(--soft-red);
}

.error-text {
   text-align: right;
   color: var(--soft-red);
   font-size: .6rem;
   font-style: italic;
   padding: 5px 0;
}

p {
   text-align: center;
   color: var(--light-blue);
   font-size: .7rem;
   font-weight: 500;
   margin-top: 15px;
}
p span {
   color: var(--soft-red);
   font-weight: 600;
}

@media (min-width: 675px) {
   section {
      width: 50%;
   }

   .trial {
      padding: 14px;
   }
}