section {
   width: 100%;
   padding: 1rem;
   text-align: center;
}

h1 {
   font-size: 2.2rem;
   font-weight: 700;
   margin-top: 2.5rem;
   line-height: 2.5rem;
   margin-left: 1rem;
   margin-right: 1rem;
}

h2 {
   font-size: .95rem;
   font-weight: 500;
   margin-top: -.5rem;
   margin-left: .7rem;
   margin-right: .7rem;
}

@media (min-width: 675px) {
   section {
      width: 50%;
      text-align: left;
   }

   h1, h2 {
      margin-left: 0;
      margin-right: 0;
   }

   h1 {
      font-size: 2.5rem;
   }

   h2 {
      font-size: .85rem;
   }
}