section {
   width: 100%;
   padding: 1rem;
   text-align: center;
}

h1 {
   font-size: 2.3rem;
   font-weight: 700;
   margin-top: 4.5rem;
   line-height: 2.5rem;
   margin-left: 2rem;
   margin-right: 2rem;
}

h6 {
   font-size: .75rem;
   font-weight: 500;
   margin-top: -.5rem;
   margin-left: 2rem;
   margin-right: 2rem;
}

@media (min-width: 675px) {
   section {
      width: 50%;
      text-align: left;
   }

   h1, h6 {
      margin-left: 0;
      margin-right: 0;
   }
}